body{
	text-align: center;
	background-color: #EBEBEB;
	font-family: "Gill Sans", sans-serif;
	color: #474747;
}

h1,h2 {
	color: #00E031;
}

.premier img {
	height: 200px;
	border-radius: 50%;
}

.premier a {
	text-decoration: none;
	color: white;
	background-color: #006616;
	border-radius: 5px;
	border-width: 100px;
	padding: 3px;
}

a:hover {
	color: black;
}

.premier {
	background-color: white;
	margin: 20px 300px;
	border-radius: 15px;
	padding: 5px 0px;
}

.deuxieme {
	background-color: white;
	margin: 20px 300px;
	border-radius: 15px;
	padding: 5px 0px;
}

.troisieme {
	background-color: white;
	margin: 20px 300px;
	border-radius: 15px;
	padding: 5px 0px;
}

li {
	list-style-type: none;
}

.quatrieme {
	background-color: white;
	margin: 20px 300px;
	border-radius: 15px;
	padding: 5px 0px;
}

.quatrieme img {
	height: 100px;
	padding: 10px;
}

.quatrieme a:hover {
	opacity: 60%;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
